<%= form_for(task) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", rows: 10 %>
  </div>
  
  <div class="row">
    <div class="col">
      <div class="form-group">
        <%= f.label :assignee %>
        <%= f.collection_select(:assignee_id, User.all, :id, :full_name, { :include_blank => 'None'}, { :class => "form-control" }) %>
      </div>
    </div>

    <div class="col">
      <div class="form-group">
        <%= f.label :status %>
        <%= f.collection_select(:status_id, TaskStatus.all, :id, :name, {}, { :class => "form-control" }) %>
      </div>
    </div>
    
    <div class="col">
      <div class="form-group">
        <%= f.label :priority %>
        <%= f.collection_select(:priority_id, TaskPriority.all, :id, :name, {}, { :class => "form-control" }) %>
      </div>
    </div>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>