<h2>Tasks</h2>
<%= link_to 'Create New Task', new_task_path, class: "badge badge-success" %>

<div class="card-columns">
<% @tasks.each_with_index do |task,index| %>
      <div class="card" style="width: 36rem;">
        <div class="card-header"><h5><%= link_to task.title, task_path(task) %> <span class="badge badge-secondary">Status: <%= task.status.name %></span></h5></div>
        <div class="card-body">
          <% if task.assignee %>
            <h6 class="card-subtitle mb-2 text-muted">Assigned to <%= link_to task.assignee.full_name, user_path(task.assignee) %></h6>
          <% end %>
          <p class="card-text"><%= task.description %></p>
          <%= link_to 'Show', task, class: "card-link badge badge-info" %>
          <%= link_to 'Edit', edit_task_path(task), class: "card-link badge badge-warning" %>
          <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-link badge badge-danger" %>
        </div>
        <div class="card-footer">
          <small class="text-muted">Created by <%= link_to task.user.full_name, user_path(task.user) %>, <%= time_ago_in_words(task.created_at) %> ago, updated <%= time_ago_in_words(task.updated_at) %> ago</small>
        </div>
      </div>
<% end %>
</div>