<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
    </div>
  </div>
</div>

<p id="notice"><%= notice %></p>

<div class="page-header">
  <h2>Tasks</h2><%= link_to 'Create New Task', new_task_path, class: "label label-default" %>
</div>

<% @tasks.each do |task| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= task.title %></h3>
    </div>
    <div class="panel-body">
      <%= task.description %>
    </div>
    
    <div class="panel-footer">
      <small>Created by <%= link_to task.user.full_name, user_path(task.user) %>, <%= time_ago_in_words(task.created_at) %> ago, updated <%= time_ago_in_words(task.updated_at) %> ago</small>
      <%= link_to 'Show', task, class: "label label-primary" %>
      <%= link_to 'Edit', edit_task_path(task), class: "label label-warning" %>
      <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "label label-danger" %>
    </div>
  </div>
<% end %>
