<h2>Task Details</h2>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Created by:</strong>
  <%= link_to @task.user.full_name, user_path(@task.user) %>
</p>

<% if @task.assignee %>
<p>
  <strong>Assigned to:</strong>
  <%= link_to @task.assignee.full_name, user_path(@task.assignee) %>
</p>
<% end %>

<p>
  <strong>Status: <%= @task.status.name %></strong>
</p>

<p>
  <strong>Created:</strong>
  <%= time_ago_in_words(@task.created_at) %> ago
</p>

<p>
  <strong>Updated:</strong>
  <%= time_ago_in_words(@task.updated_at) %> ago
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
