<div class="card mx-auto">
  <div class="card-header">
    <h2>Task Priorities</h2>
    <%= link_to 'New Task Priority', new_task_priority_path, class: "badge badge-primary" %>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-2">
        <strong>Name</strong>
      </div>
      <div class="col-1">
        <strong>Level</strong>
      </div>
      <div class="col-2">
        <strong>Actions</strong>
      </div>
    </div>
    <hr/>
    <% @task_priorities.each do |task_priority| %>
      <div class="row">
        <div class="col-2">
          <%= task_priority.name %>
        </div>
        <div class="col-1">
          <%= task_priority.level %>
        </div>
        <div class="col-2">
          <%= link_to 'Show', task_priority, class: "badge badge-info" %>
          <%= link_to 'Edit', edit_task_priority_path(task_priority), class: "badge badge-warning" %>
          <%= link_to 'Delete', task_priority, method: :delete, data: { confirm: 'Are you sure?' }, class: "badge badge-danger" %>
        </div>
      </div>
      <hr/>
    <% end %>
    
    
  </div>
</div>